<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996171881449-cpp0kolqdk04vu325bcd9mj5l54v768t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996171881449-cpp0kolqdk04vu325bcd9mj5l54v768t</string>
	<key>API_KEY</key>
	<string>AIzaSyAa4hr5GEIiR1478-Dhh9IXmZBQolN03VM</string>
	<key>GCM_SENDER_ID</key>
	<string>996171881449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.jaydan.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-92fd9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-92fd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996171881449:ios:cc980ba75963400bccc978</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-ios13-92fd9.firebaseio.com</string>
</dict>
</plist>